body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5e0e3;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  h1 {
    position: fixed;
    max-width: 1000px;
    top: 10px;
    left: 50%;  
    font-size: 40px;
    transform: translateX(-50%);
    color: dodgerblue;
  }
  a {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: tomato;
  }
  button {
    position: absolute;
    z-index: 1;
    padding: 15px 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffabd8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: white;
    color: #ff98dd;
  }

  .notification {
    position: absolute;
    max-width: 240px;
    height: 160px;
    background-color: #fab4d7;

    background-size: 123px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 2;
    border: 3px solid rgb(255, 255, 255);
  }

  .notification-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    color: rgb(255, 153, 209);
    font-weight: bold;
    box-sizing: border-box;
  }
  .notification-header span {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-grow: 1;
  }
  .notification p {
    margin: 0;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-weight: bold;
  }
  .minimize-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    margin-left: auto;
  }
  .minimize-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.5);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
